#yt-playlists {
    .yt-thumb-simple {
        height: 109px;
        overflow: hidden;
        display: inline-block;

        img {
            display: block;
            height: auto;
            width: 196px;
            position: relative;
            top: -19px;
        }
    }
}