@import '../../styles/variables';

.ytp-VideoGridCard {
    margin-right: 4px;
    display: inline-block;
    width: 210px;
    margin-bottom: 24px;

    :hover {
        .ytp-VideoGridCard-thumbnail .ytp-VideoGridCard-thumbnail-hover {
            opacity: 0.8;
        }
    }
    > a {
        text-decoration: none;
    }
    .ytp-VideoGridCard-thumbnail {
        height: 117px;
        overflow: hidden;
        display: inline-block;
        position: relative;

        img {
            display: block;
            height: auto;
            width: 210px;
            position: relative;
            top: -20px;
        }
        .ytp-VideoGridCard-thumbnail-hover {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13px 0 13px 20px;
            border-color: transparent transparent transparent #ffffff;
            top: 44px;
            left: 98px;
            position: absolute;
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }
    }
    .ytp-VideoGridCard-title {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #111;
        margin: 8px 0 8px;

        [dark] & {
            color: @youtubeWhite--darkmode;
        }
    }
    .ytp-VideoGridCard-channel {
        a {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: lighten(#111, 40%);
            text-decoration: none;

            &:hover {
                color: lighten(#111, 10%);
            }
            [dark] & {
                color: #888;

                &:hover {
                    color: rgba(255, 255, 255, 0.74);
                }
            }
        }
    }
    .ytp-VideoGridCard-meta {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;
        color: lighten(#111, 40%);

        [dark] & {
            color: #888;
        }
        span:not(:last-of-type):after {
            content: '•';
            margin: 0 4px;
        }
    }
}